3erTrimestre/LenguajedeMarcas/XMLEjercicios/.idea/Examen/empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehiculo" type="tipoVehiculo"/>
  <xs:complexType name="datosType">
    <xs:sequence>
      <xs:element type="xs:string" name="macra"/>
      <xs:element type="xs:string" name="modelo"/>
      <xs:element type="xs:int" name="bastidor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoVehiculo">
    <xs:sequence>
      <xs:element type="xs:date" name="lanzamiento"/>
      <xs:element type="datosType" name="datos"/>
      <xs:element name="observaciones" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="muy barato"/>
            <xs:enumeration value="muy buenos"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>