3erTrimestre/LenguajedeMarcas/XMLEjercicios/.idea/factura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="facturas" type="facturasType"/>
  <xs:complexType name="telefonosType">
    <xs:sequence>
      <xs:element type="xs:string" name="telefono"/>
      <xs:element type="xs:string" name="fax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articuloType">
    <xs:sequence>
      <xs:element type="xs:string" name="ref"/>
      <xs:element type="xs:string" name="desc"/>
      <xs:element type="xs:string" name="precio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulosType">
    <xs:sequence>
      <xs:element type="articuloType" name="articulo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturaType">
    <xs:sequence>

      <xs:element type="tipoID" name="n_fac"/>
      <xs:element type="tipoID" name="n_cli"/>
      <xs:element type="tipoID" name="n_ped"/>
      <xs:element type="telefonosType" name="telefonos"/>
      <xs:element type="xs:string" name="formaPago"/>
      <xs:element type="xs:string" name="fecha"/>
      <xs:element type="xs:string" name="moneda"/>
      <xs:element type="xs:string" name="iva"/>
      <xs:element type="articulosType" name="articulos"/>
      <xs:element type="xs:string" name="cp"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturasType">
    <xs:sequence>
      <xs:element type="facturaType" name="factura"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType  name="tipoID" type="xs:int">
    <xs:restriction>
      <xs:length value="4"/>
      <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:complexType>
</xs:schema>