2Trimestre/Entornos/practicaJunit/JavaApplication2/dtdExterna.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE matricula [
        <!ELEMENT matricula(personal,pago)*>
        <!ELEMENT personal(dni,nombre,titulacion,domicilios+)*>
        <!ELEMENT domicilios(nombre)>
        <!ATTLIST domicilios((tipo)#PCDATA)>
        <!ELEMENT pago (tipo_matricula)>
        <!ELEMENT dni (#PCDATA)>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT titulacion (#PCDATA)>
        <!ELEMENT tipo_matricula (#PCDATA)>
        ]>