2Trimestre/Programacion/dtd/untitled/src/question1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE lista_de_notas [
        <!ELEMENT lista_de_notas (nota)*>
        <!ELEMENT nota_dia #PCDATA>
        <!ELEMENT nota (nota_dia|para|de|titulo|contenido)*>
        <!ATTLIST  nota_dia((par|impar)#PCDATA)>
        <!ELEMENT para (#PCDATA)>
        <!ELEMENT de (#PCDATA)>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT contenido (#PCDATA)>
        ]>